{% extends 'base.html.twig' %}

{% block title %}New MemberPublication{% endblock %}

{% block body %}
    <h1>Create new MemberPublication</h1>

    {{ include('member_publication/_form.html.twig') }}

    <a href="{{ path('member_publication_index') }}">back to list</a>
{% endblock %}
